* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;}

html {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;
  background: rgba(40, 44, 52, 0.89);
}

header { height: 83.5px; }

nav {z-index: 2 !important}

li { padding-left: 3px; width: 90px; text-align: center;
}

ul { margin: 0; padding:0;}

a{font-weight: bolder}
a:hover { text-decoration: none;}

ul li { list-style: none; }

ul li:hover { cursor: pointer;}

h1 {font-size: 30px;}
h2 {font-size: 20px;}

.section_sliders {
  height: auto;
  width: 100%;
  background: rgba(40, 44, 52, 0.89);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.section_sliders img.big{
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.section_sliders img.small{
  width: 100%;
  height: 420px;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.uk-position-center-right,.uk-position-center-left {
  display: flex;
  font-weight: bolder;
  font-size: 30px;
  background: rgba(19, 19, 19, 0.48);
  padding: 12px;
  margin: 0;
  height: 115%;
  justify-content: center;
  align-items: center;
}

.h3-film-title{
  font-size: 1.7rem;
  padding: 0;
}

.p-detail-film {
  font-size: 0.9rem;
  color: white;
  font-weight: normal;
  padding-top: 20px;
}

.uk-overlay {
  padding:15px;
}

.colorPink {
  background-color: #ff005d;
}

.colorPinkLetra {
  color: #ff005d;
}

.card-text,.text-muted {
  font-size: 0.9rem;
}

.card-img {
  object-fit: cover;
  height: 100%;
}

.styles_modal__gNwvD {
  background-color: rgba(255, 255, 255, 0.46);
  max-width: 85%;
  z-index: 1;
  padding: 40px;
  border-radius: 4px;
}

.styles_closeButton__20ID4 {
  background-color: rgba(255, 255, 255, 0.62);
  border-radius: 4px;
  cursor: pointer;
  top: 7px;
  right: 7px;
  border: 1px solid #383838;
}

.styles_closeButton__20ID4:hover {
  background-color: #ffffff !important;
}

footer {
  background-color: #444444;
  margin-top: 0px;
  padding: 50px 80px 50px 80px;
}

.uk-pagination {
  padding:5px;
  font-size: 1.1em;
  font-weight: bolder;
  color: white;
  padding-left: 0px;
}

.uk-pagination li  {
  width: 55px;
  padding: 8px;
  background: rgba(19, 19, 19, 0.48);
  margin-right: 5px;
  margin-bottom: 5px;
}
.uk-pagination li:hover{
  color: white;
  background-color: #ff005d;
}

ul .selectedPage {
  color: white;
  background-color: #ff005d;
}

@media only screen
and (min-width: 0px)
and (max-width: 1000px)
and (-webkit-min-device-pixel-ratio: 2) {

  header { height: 79.13px; }

  .styles_modal__gNwvD {
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    max-width: 100%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h3 {
    font-size: 1.4em !important;
    font-weight: bolder;
  }
}

